<div class="container">
  <div class="jumbotron text-center">
    <h1>Hello, Surveys!</h1>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container text-center features">

  <div class="row">
    <div class="col-xs-6 col-md-4 ">
      <div class="">
        <i class="fa fa-bar-chart fa-5x"></i>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias reprehenderit illo nihil nisi beatae! Ipsam commodi itaque est sunt libero, sapiente voluptatum accusamus similique dicta laboriosam fuga nobis, id deserunt.</h4>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 ">
      <div class="">
        <i class="fa fa-file-text-o fa-5x"></i>
        <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illum, excepturi inventore voluptatem cupiditate nesciunt placeat debitis quae nisi maiores itaque magnam, saepe perferendis aliquid doloremque libero dicta nam perspiciatis. </h4>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 ">
      <div class="">
        <i class="fa fa-cloud-upload fa-5x"></i>
        <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta et, earum inventore eos ullam dolorum atque aliquid, cupiditate, excepturi laudantium nam veritatis maiores minima molestiae. Non dignissimos, aliquid fugit doloremque!</h4>
      </div>
    </div>
    </div>

</div>