<%= form_for @survey_response, url: survey_responses_path(@survey) do |f|%>

  <% @survey.questions.each do |question|  %>

    <h2><%= question.description %></h2>

    <%= collection_radio_buttons(:"survey_responses", :"questions_answers[#{question.id}]", question.answers, :id, :description) %>

  <% end %>

  <% unless current_user.author?(@survey) %>
    <%= f.submit "Enviar encuesta" %>
  <% end %>

<% end %>