<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h3>Summary for this survey</h3>
    <div class="row">
      <% @survey_responses.each do |survey_response| %>

        <h4><%= survey_response.question.description %></h4>
        <%= pie_chart SurveyResponse.question_summary(survey_response.question_id) %>
      <% end %>
    </div>
    <div class="row">
      <h3>People who has answered: </h3>
        <table class="table table-bordered text-center">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
          <% @survey_responders.each do |survey_responder| %>
            <tr>
              <td><%= survey_responder.user.first_name %></td>
              <td><%= survey_responder.user.last_name %></td>
            </tr>
          <% end %>
        </table>

    </div>
  </div>
</div>
