<h1>Listing survey_responses</h1>

<% @survey_responses.each do |survey_response| %>

  <h2><%= survey_response.question.description %></h2>
      <%= SurveyResponse.question_summary(survey_response.question_id) %>

<% end %>