<div class="col-md-8 col-md-offset-2 text-center">
  <h2>Thanks!</h2>
  <p>We want to thank you for taking your time to answer our survey, we appreciate your effort.</p>
  <%= link_to "Go back to surveys", surveys_path, class: "btn btn-default" %>
</div>