<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= "#{@survey.user.first_name} #{@survey.user.last_name}" %></h1>
    <p>
      You have a new response for the survey: <i><%= @survey.title %></i><br>
    </p>
    <p>
      This response now has <%= SurveyResponse.responses_number(@survey) %> responses
    </p>
    <p>Thanks for choose to work with us and have a great day!</p>
  </body>
</html>